@page "/"
@using front_gestionnaire_mot_de_passe.Components.CreateVaultModal
@using front_gestionnaire_mot_de_passe.Components.DisplayError
@using front_gestionnaire_mot_de_passe.Components.OpenVaultModal
@using front_gestionnaire_mot_de_passe.Components.VaultDisplay

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home">

    <section class="upper_part">
        <div class="create_vault_zone">
            <button class="create-btn" @onclick="ShowModal">Créer un coffre</button>
        </div>

        <div class="search_bar_zone">
            <div class="search-container">
                <input type="text"
                       placeholder="Rechercher..."
                       class="search-input"
                       @bind="_searchText"
                       @bind:event="oninput" />
                <div class="search-btn">🔍 Recherchez un coffre fort</div>
                <button class="clear-btn" @onclick="ClearSearch">✖</button>
            </div>
        </div>
    </section>

    @if (FilteredVaults.Any())
    {
        @foreach (var vault in FilteredVaults)
        {
            <VaultCard VaultData="vault" OnOpenVault="OpenVault" />
        }
    }
    else
    {
        <DisplayError />
    }

    <CreateVaultModal IsVisible="@_isModalVisibleCreateVault" OnClose="HideModalCreateVault" />
    
    @if (_selectedVault is not null)
    {
        <OpenVaultModal 
            IsVisible="@_isOpenVaultVisible"
            VaultId="@_selectedVault.Id"
            VaultSalt="@(_selectedVault.KekSaltB64 ?? _selectedVault.Salt)"
            VaultIterations="@(_selectedVault.KekIterations ?? _selectedVault.NbIteration)"
            VaultData="@_selectedVault"
            OnClose="CloseVault"
        />
    }

</div>

@code {
 
}